.features-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin: 0;
	padding-top: 100px;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
}

.feature-list__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 0;
	gap: 20px;
	list-style: none;
}

