.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	margin: 10px auto;
	padding: 0 90px;
	height: 80px;
	background-color: #ffffff;
	align-items: center;
	z-index: 5;
}
