.title {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 115%;
	color: #333333;
}

.title_small {
	font-size: 18px;
	line-height: 150%;
}

.title_big {
	font-size: 44px;
	line-height: 115%;
}
